In [1]:
import pandas as pd

In [2]:
sales = pd.read_csv("sales_data.csv")

In [3]:
sales.head()

,Line_Item_ID,Date,Credit_Card_Number,Quantity,Menu_Item
0,1,01-01-2017,7437926611570799,1,spicy miso ramen
1,2,01-01-2017,7437926611570799,1,spicy miso ramen
2,3,01-01-2017,8421920068932819,3,tori paitan ramen
3,4,01-01-2017,8421920068932819,3,tori paitan ramen
4,5,01-01-2017,4787310681569648,1,truffle butter ramen

In [4]:
menu = pd.read_csv("menu_data.csv")

In [5]:
menu.head()

,item,category,description,price,cost
0,edamame,appetizers,"boiled soybeans, maldon sea salt",4.0,1
1,house salad,appetizers,"mixed greens, cherry tomatoes, cucumber, house...",4.0,2
2,cucumber sunomono salad,appetizers,"cucumber, ponzu dressing, pickled ginger sprou...",5.0,2
3,hiyashi wakame seaweed salad,appetizers,"sweet soy-marinated wakame seaweed threads, pi...",5.0,2
4,agedashi tofu,appetizers,"tempura battered tofu, katsuobushi, tsuyu brot...",5.0,2

In [6]:
sales.groupby("Menu_Item")["Quantity"].sum()

Menu_Item
burnt garlic tonkotsu ramen                       9070
miso crab ramen                                   8890
nagomi shoyu                                      9132
shio ramen                                        9180
soft-shell miso crab ramen                        9130
spicy miso ramen                                  9238
tonkotsu ramen                                    9288
tori paitan ramen                                 9156
truffle butter ramen                              8982
vegetarian curry + king trumpet mushroom ramen    8824
vegetarian spicy miso                             9216
Name: Quantity, dtype: int64

In [8]:
quantity = sales.groupby("Menu_Item")["Quantity"].sum().reset_index()

In [9]:
joined = pd.merge(menu, quantity, left_on="item", right_on="Menu_Item", how="left")

In [10]:
joined = joined.dropna().reset_index()

In [12]:
joined["revenue"] = joined["price"] * joined["Quantity"]

In [13]:
joined["cogs"] = joined["cost"] * joined["Quantity"]

In [14]:
joined["profit"] = joined["revenue"] - joined["cogs"]

In [15]:
joined.drop(columns=["index", "item", "category", "description", "price", "cost"], inplace=True)

In [16]:
joined

,Menu_Item,Quantity,revenue,cogs,profit
0,nagomi shoyu,9132.0,100452.0,45660.0,54792.0
1,shio ramen,9180.0,100980.0,45900.0,55080.0
2,spicy miso ramen,9238.0,110856.0,46190.0,64666.0
3,vegetarian spicy miso,9216.0,110592.0,46080.0,64512.0
4,miso crab ramen,8890.0,106680.0,53340.0,53340.0
5,soft-shell miso crab ramen,9130.0,127820.0,63910.0,63910.0
6,tori paitan ramen,9156.0,119028.0,54936.0,64092.0
7,tonkotsu ramen,9288.0,120744.0,55728.0,65016.0
8,burnt garlic tonkotsu ramen,9070.0,126980.0,54420.0,72560.0
9,vegetarian curry + king trumpet mushroom ramen,8824.0,114712.0,61768.0,52944.0
10,truffle butter ramen,8982.0,125748.0,62874.0,62874.0