In [3]:
import pandas as pd

In [82]:
pl = pd.read_csv('budget_data.csv')

In [83]:
pl.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [84]:
pl.tail()

        Date  Profit/Losses
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

In [85]:
total_month = len(pl)

In [86]:
total_month

86

In [87]:
total_pl = pl["Profit/Losses"].sum()

In [88]:
total_pl

38382578

In [89]:
average_change = pl["Profit/Losses"].diff().mean()

In [90]:
average_change = round(average_change, 2)

In [91]:
average_change

-2315.12

In [92]:
greatest_increase_month = pl.iloc[pl["Profit/Losses"].diff().idxmax()]["Date"]

In [93]:
greatest_increase_month

'Feb-2012'

In [94]:
greatest_increase = pl.loc[pl["Date"] == greatest_increase_month, "Profit/Losses"] - pl["Profit/Losses"].shift(1).loc[pl["Date"] == greatest_increase_month]

In [95]:
greatest_increase = greatest_increase.iloc[0]

In [96]:
greatest_increase

1926159.0

In [97]:
greatest_decrease_month = pl.iloc[pl["Profit/Losses"].diff().idxmin()]["Date"]

In [98]:
greatest_decrease_month

'Sep-2013'

In [99]:
greatest_decrease = pl.loc[pl["Date"] == greatest_decrease_month, "Profit/Losses"] - pl["Profit/Losses"].shift(1).loc[pl["Date"] == greatest_decrease_month]

In [100]:
greatest_decrease = greatest_decrease.iloc[0]

In [101]:
greatest_decrease

-2196167.0

In [105]:
financial_analysis = f"""Financial anlaysis 
-----------------------------
Total Months: {total_month}
Total: ${total_pl}
Average Change: ${average_change}
Greatest Increase in Profits: {greatest_increase_month} ${greatest_increase}
Greatest Decrease in Profits: {greatest_decrease_month} ${greatest_decrease}"""

In [106]:
with open('financial_analysis.txt', 'w', encoding='utf-8') as file:
    file.write(financial_analysis)